@{
    ViewData["Title"] = "Login";
    Layout = "/Views/Shared/_AuthLayout.cshtml";
}

<div class="signup">
    <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
    <form asp-action="Register" method="post">
        <div class="form-holder">
            <input type="text" name="FirstName" class="input" placeholder="First Name">
            <input type="text" name="LastName" class="input" placeholder="Last Name">
            <input type="email" name="Email" class="input" placeholder="Email">
            <input type="password" name="Password" class="input" placeholder="Password">
        </div>
        <button type="submit" class="submit-btn">Sign up</button>
    </form>
</div>
<div class="login slide-up">
    <div class="center">
        <h2 class="form-title" id="login"><span>or</span>Log in</h2>
        <form asp-action="Login" method="post">
            <div class="form-holder">
                <input type="email" name="Email" class="input" placeholder="Email">
                <input type="password" name="Password" class="input" placeholder="Password">
            </div>
            <button type="submit" class="submit-btn">Log in</button>
        </form>
    </div>
</div>
